 
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Poppins:wght@500&display=swap');
 
@font-face {
    font-family: 'iranSans';
    src: url('../public/fonts/IRANSans_Medium/IRANSans_Medium.ttf') format('ttf');
  }


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSans;
  
}


.mainContent{
    /* border: 2px solid red; */
   margin: -240px 0 0 0 ;
}



.txt-rtl{
    direction: rtl;
    text-align: justify;
}


body{
    font-family: Poppins sans-serif;
    background-color: #141414;
    color:#fff;
}

a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.flexSB{
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 90%;
    margin:auto;
}

button {
    background-color: #e50813;
    outline: none;
    border: none;
    color:#fff;
    padding: 12px  40px;
    font-weight: 500;
    font-size: 17px;
}

.row {
    width: 50%;
}
p{
    line-height: 30px;
}

.flex {
    display: flex;
}

.control-btn button{
    background: none;
    border: 2px solid rgba(255,255,255,0.3);
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.control-btn .next {
    position: absolute;
    top:50%;
    right: 2%;

}

.control-btn .prev {
    position: absolute;
    top:50%;
    left: 2%;
    z-index: 99;
}

.heading h1{
    font-weight: 500;
    margin: 30px 0;
}


.heading a {
    color: #e50813;
}

.movieBox {
    width: 390px;  /* 430 */
    height: 300px;
    position: relative;
    transition: 0.5s;
    border-left: 5px solid transparent;
 
  
}

.movieBox:hover {
    cursor: pointer;
    border-left: 5px solid #e50813;
    transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em);
    box-shadow: 0 0 0.73em rgba(0, 0, 0, 0.9);
}

.movieBox::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 430px;
    height: 300px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(20,20,20,0.4) 50%,
                    rgba(83,100,141,0),100%);

}

.movieBox img {
    position: absolute;
    top:0;
    left:0;
    z-index: -2;
    height: 100%;
    width:100%;
    object-fit: cover;
}

.movieBox .text {
    padding: 70px 50px;
    
}

.movieBox h3 {
    margin-top: 15px;
    padding:12px 20px;
    font-size: 13px;
    cursor: pointer;

}

.movieBox button i {
    margin-right: 10px;
}

@media only screen and (max-width: 768px){
    .movieBox {
        width: 330px;
        height: 250px;
    }

}